@import '../../Material/material.scss';

.file{
    cursor: pointer;
}

.file:hover {
    background-color: fade-out($color: $primary-dark, $amount: 0.5)!important;
    color: $secondary-light!important;
}
.file.selected{
    background-color: $primary-dark!important;
    color: $secondary-light!important;
    &:hover{
        color: $secondary-light!important;
    }
}
.files-grid{
    .file{
        // background-color: inherit;
        // color: $primary-text;
        padding-right: 0.7rem;
        padding-left: 0.7rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        i{
            font-size: 34px;    
            display: flex;
            flex-direction: column;
        }   
    } 
    
}

.files-list {
    width: 70%;
    border-collapse: separate;
    * > * {
        padding: 0.5rem;
    }
//     .file{
//         font-size: 20px;
//     }
 
}