@import '../material.scss';
button{
    
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: $secondary;
    box-shadow: inset 1px 1px aliceblue;
    border: 1px solid $primary-dark;
    color: $primary-dark;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover {
        color:  $secondary-light;
        text-decoration: none;
      }
    &:active {
    outline: 0;
    box-shadow: 1px 1px aliceblue;
    }
    &:disabled{
        &:hover{
            color: $primary-dark;
        }
        &:active {
            outline: 0;
            box-shadow:inherit;
        }
        background-color: $primary-light;
        box-shadow:inherit;
    }
    
}