@import '../style.scss';

.home {
    @extend %content;
    overflow-y: auto;

    .header {
        display: flex;
        padding-top: 10px;
        padding-left: 2px;
        padding-right: 2px;
        justify-content: space-between;

        * {
            margin-right: 3px;
        }

        >div {
            display: flex;
            flex-wrap: nowrap;
        }
    }

    hr {
        color: var(--bg);
    }

    .files-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .path {
        margin-left: 10px;

        .path-item {
            color: var(--color);
        }

        .path-item:hover {
            color: var(--hover-color);
        }

        // .path-separator {}
    }
}

.files-grid {
    .skeleton {
        height: 100px;
        width: 40px;
        display: flex;
        flex-direction: row;

        .name {
            margin: 10px;
            height: 75%;
        }

        .icon {
            height: 10px;
            margin: 10px;
        }
    }

    .file {
        flex: 0 0 auto;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}