@import '../style.scss';

.home {
    @extend %content;
    overflow-y: auto;

    .header {
        display: flex;
        padding-top: 10px;
        padding-left: 2px;
        padding-right: 2px;
        justify-content: space-between;

        * {
            margin-right: 3px;
        }

        >div {
            display: flex;
            flex-wrap: nowrap;
        }
    }

    hr {
        color: var(--bg);
    }

    .files-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .path {
        margin-left: 10px;

        .path-item {
            color: var(--color);
        }

        .path-item:hover {
            color: var(--hover-color);
        }

        // .path-separator {}
    }
}

.files-grid {
    display: flex;
    flex-wrap: wrap;

    .skeleton {
        flex: 0 0 auto;
        margin-left: 5px;
        padding: 10px;
        color: var(--color);
        width: calc(1/13) * 100%;
        text-align: center;

        .title {
            margin: 10px;
            height: 1rem;
        }

        .icon {
            margin: 10px;
            height: 2rem;
            width: 100%;
        }
    }

    .empty {
        align-self: center;
        margin: auto;
        color: var(--uncolor)
    }

    .file {
        flex: 0 0 auto;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 10px;
        cursor: pointer;
        color: var(--color);
        width: calc(1/13) * 100%;
        text-align: center;

        .icon {
            display: block;
            stroke: currentColor;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: none;
            color: var(--color);

            svg {
                height: var(--item-height);
                width: auto;
                margin: 0 auto;
            }

        }

        .title {
            text-overflow: ellipsis;
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
        }

        &.selected {
            background-color: var(--bg-secondary);
        }

        // TODO refactor this
        &:hover {
            background-color: var(--hover-bg);
            color: var(--hover-color);
        }
    }

}