@import '../Material/material.scss';

@mixin make-container($padding-x: $container-padding-x,$width: 50%) {
    width: $width;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
  }
  

.home{
    @include  make-container(20px, 96%);
    .header{
        display: flex;
        padding-top: 10px;
        justify-content: space-between;
    }
    hr{
        color: $primary-dark;
    }
    .files-grid{
        display: flex;
        flex-wrap: wrap;
    }
}

.files-grid{
    .file{
        flex:0 0 auto;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}
