@import "../style.scss";

.users {
    @extend %content;
    display: flex;

    .host-info {
        flex-flow: column;
        background-color: var(--bg-secondary);
        display: flex;
        flex-direction: column;
        border-left: 3px solid var(--bg);
        padding: 5px;
        align-content: space-between;
        align-items: center;
    }

    .no-peer {
        cursor: pointer;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
}

.users .host-info .host {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;


    .name {
        text-align: center;
    }

    ul.addresses {
        list-style: none;

        li.addresse {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
}