$sidebar-padding: 5px;
$sidebar-icon-size: 2rem;
$sidebar-width: 42px;
$append: --;
@mixin theme($name,$theme) {
    #{$name} {
        @each $attr in map-keys($theme) {
            #{$append}#{$attr}: map-get($theme, $attr);
        } 
    }
}
$white-bg: white;
$white-color: black;
$white: (
    bg: $white-bg,
    color: $white-color,
    bg-secondary: darken($white-bg,1),
    hover-bg:  fade-out($color: $white-color, $amount: 0.5),
    hover-color:  fade-out($color: $white-bg, $amount: 0.5),
    selected-bg: fade-out($color: $white-bg, $amount: 0.5),
    selected-color: fade-out($color: $white-color, $amount: 0.1),
    active-bg: fade-out($color: $white-bg, $amount: 0.1),
    active-color: fade-out($color: $white-color, $amount: 0.3)
);

$dark: (
    bg: black,
    color: white
);

@media (prefers-color-scheme: dark) {
    @include theme(":root",$dark);
}

@media (prefers-color-scheme: light) {
    @include theme(":root",$white);
}

