@mixin theme($name, $theme) {
    #{$name} {
        @each $attr in map-keys($theme) {
            --#{$attr}: #{map-get($theme, $attr)};
        }
    }
}

$white-bg: white;
$white-color: black;
$white: (
    bg: $white-bg,
    color: $white-color,
    bg-secondary: darken($white-bg, 15),
    hover-bg: fade-out($color: $white-color, $amount: 0.5),
    hover-color: fade-out($color: $white-color, $amount: 0.5),
    selected-bg: fade-out($color: $white-bg, $amount: 0.5),
    selected-color: fade-out($color: $white-color, $amount: 0.1),
    active-bg: fade-out($color: $white-bg, $amount: 0.1),
    active-color: fade-out($color: $white-color, $amount: 0.3),
    loading-bg: fade-out($color: $white-color, $amount: 0.4),
    loading-color: fade-out($color: $white-bg, $amount: 0.4),
    sidebar-padding: 10px,
    sidebar-icon-size: 2rem,
    icon-height: 20px,
    icon-width: 20px,
);
$black-bg: lighten(black, 5);
$black-color: white;
$dark: (
    bg: $black-bg,
    color: $black-color,
    // Uns selectable test
    uncolor: darken($black-color, 50),
    bg-secondary: lighten($black-bg, 15),
    hover-bg: fade-out($color: $black-color, $amount: 0.5),
    hover-color: fade-out($color: $black-color, $amount: 0.5),
    selected-bg: fade-out($color: $black-bg, $amount: 0.5),
    selected-color: fade-out($color: $black-color, $amount: 0.1),
    active-bg: fade-out($color: $black-bg, $amount: 0.1),
    active-color: fade-out($color: $black-color, $amount: 0.3),
    loading-bg: fade-out($color: $black-color, $amount: 0.4),
    loading-color: fade-out($color: $black-bg, $amount: 0.4),
    sidebar-padding: 10px,
    sidebar-icon-size: 2rem,
    icon-height: 20px,
    icon-width: 20px,
    item-height: 40px,
);

@media (prefers-color-scheme: dark) {
    @include theme(":root", $dark);
}

@media (prefers-color-scheme: light) {
    @include theme(":root", $white);
}