// @import "../node_modules/bootstrap/scss/bootstrap";
@import './Material/material.scss';

@import "../node_modules/bootstrap/scss/functions";


@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";


.app {
    background-color: $primary-light;
    color: $primary-text;
    display: flex;
    font-size: 12px;
}   

$sidbar-padding: 5px;
$sidebar-icon-size: 2rem;
$sidebar-width: 42px;
