// $primary:  #c62828;
// $primary-text:#000000;
// $primary-light:#ff5f52 ;
// $primary-dark:#8e0000 ;

$secondary:#f7bacf;
$secondary-text:#000000;
$secondary-light:#ffeeff;
$secondary-dark:#c48b9f;

$primary:#931248;
$primary-text:#ffff;
$primary-light:#dc2b78;
$primary-dark:#7b1842;
 
$primary-shade-1 :#dc2b78;
$primary-shade-2 :#C2276A;
$primary-shade-3 :#931248;
$primary-shade-4 :#9C1F55;
$primary-shade-5 :#7b1842;