$primary:  #c62828;
$primary-text:#000000;
$primary-light:#ff5f52 ;
$primary-dark:#8e0000 ;

$secondary:#f7bacf;
$secondary-text:#000000;
$secondary-light:#ffeeff;
$secondary-dark:#c48b9f;

 